@model ElsonProject.Models.UmoModel

<div class="modal-body">
    <form id="form" method="post" action="/Master/UMO">
        <div class="row pt-1">
            @*<div class="col-lg-6">
                    <label>UMO Code</label>
                    @Html.TextBoxFor(m => m.UMOCode, null, new { @class = "form-control", @placeholder = "UMOCode " })
                    @Html.ValidationMessageFor(m => m.UMOCode)
                    <label class="form-control-label " id="UMOCode" style="display:none;color:red;">Please Enter a Field</label>
                </div>*@
            @Html.HiddenFor(model => model.UMOCode)
            @Html.HiddenFor(model => model.Active)
            <div class="col-lg-6">
                <label>UMO Name</label>
                @Html.TextBoxFor(m => m.UMOName, null, new { @class = "form-control", @placeholder = "UMOName " })
                @Html.ValidationMessageFor(m => m.UMOName)
                <label class="form-control-label " id="UMOName" style="display:none;color:red;">Please Enter a Field</label>
            </div>
            <div class="col-lg-6  form-group-default ct-toggle pt-2">
                <label>Code Active</label>
                <br />
                <label class="switch">
                    <input type="checkbox" name="Status" id="Status">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" id="save" class="btn btn-primary" form="form">Save</button>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $("#save").click(function () {
        if ($('#Status').is(':checked')) {
            $("#Active").val(1);
        }
        else { $("#Active").val(0); }
    });
</script>